RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond $1 !^(index\.php|public|css|js|png|jpg|gif|robots\.txt)
RewriteRule ^.*$ - [NC,L]
RewriteRule ^(index.*)$ init.php?_route=$1 [QSA,L]
RewriteRule ^(.*)$ init.php?_route=$1 [QSA,L]